@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-tight);
  --font-heading: var(--font-anton);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-linked-list {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-linked-list::-webkit-scrollbar {
  display: none;
}

.movie-card {
  width: calc((100% - 1 * 1.25rem) / 2.2);
}

@media (min-width: 640px) {
  .movie-card {
    width: calc((100% - 2 * 1.25rem) / 3.2);
  }
}

@media (min-width: 1024px) {
  .movie-card {
    width: calc((100% - 4 * 1.25rem) / 4.5);
  }
}
